Source: urbit-turnkey
Section: custom
Priority: optional
Build-Depends: debhelper-compat (= 12)
Maintainer: ~botter-nidnul <botter-nidnul@protonmail.com>

Package: urbit-turnkey
Architecture: all
Depends: urbit-service, usbmount, dos2unix, fping
Description: Urbit turnkey functionality
